<div data-hook="admin_product_form_due_date">
  <%= f.field_container :due_date, class: ['form-group'] do %>
    <%= f.label :due_date, Spree.t(:due_date) %>
    <%= f.error_message_on :due_date %>

    <div class="input-group datePickerFrom"
         data-wrap="true" >

      <%= f.text_field :due_date,
                       value: datepicker_field_value(@product.due_date),
                       placeholder: Spree.t(:select_a_date),
                       class: 'form-control shadow-none ',
                       'data-input':'' %>

      <%= render partial: 'spree/admin/shared/cal_close' %>
    </div>
  <% end %>
</div>
